<server description="pos server">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>faces-4.0</feature>
        <feature>persistence-3.1</feature>               
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*" />

    <dataSource id="pgdb" jndiName="jdbc/pgdb">
        <jdbcDriver libraryRef="PostgreSQLDriver"/>
        <properties.postgresql
            serverName="localhost"
            portNumber="5432"
            databaseName="cafeteria_pos"
            user="postgres"
            password="clave77"/>
    </dataSource>

    <library id="PostgreSQLDriver">
        <fileset dir="${server.config.dir}/lib" includes="postgresql-*.jar"/>
    </library>

    <library id="global-libs">
        <fileset dir="${shared.resource.dir}/primefaces" includes="*.jar"/>
    </library>

    <webApplication id="cafeteria_pos" location="cafeteria_pos-1.0-SNAPSHOT.war" contextRoot="/cafeteria_pos">
        <classloader commonLibraryRef="global-libs" />
    </webApplication>
</server>