<server description="pos server">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>persistence-3.1</feature>
    </featureManager>

    <!-- Conexión a Base de Datos PostgreSQL -->
    <dataSource id="pgdb" jndiName="jdbc/pgdb">
        <jdbcDriver libraryRef="PostgreSQLDriver"/>
        <properties.postgresql 
            serverName="localhost" 
            portNumber="5432" 
            databaseName="pos_ppi115" 
            user="postgres" 
            password="postgrespassword"/>
    </dataSource>

    <library id="PostgreSQLDriver">
        <fileset dir="${server.config.dir}/lib/global" includes="postgresql-*.jar"/>
    </library>
</server>